/*
* @Author: tangwm
* @Date:   2017-04-28 15:25:57
* @Last Modified by:   huangxz
* @Last Modified time: 2017-05-03 10:51:35
*/


/* 字体图标 */
.icon-squre-plus::before {
    content:  " \e984";
}
 .icon-squre-minus::before {
    content:  " \e983";
} 



.issue > p span{
	display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 50px;
}
.issue > p span a{

}