/*
* @Author: tangwm
* @Date:   2017-04-28 15:25:57
* @Last Modified by:   tangwm
* @Last Modified time: 2017-04-28 16:37:24
*/


/* 字体图标 */
.icon-squre-plus::before {
    content: "\e983";
}
.icon-squre-minus::before {
    content: "\e984";
}



.issue > p span{
	display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 50px;
}
.issue > p span a{

}