/*
* @Author: tangwm
* @Date:   2017-04-28 15:25:57
* @Last Modified by:   huangxz
* @Last Modified time: 2017-05-04 10:44:30
*/

.right ul li{

    width: 885px;
}
.right h3{
    margin:40px;
}
.right ul li:nth-child(odd){
    border:1px solid #CDD0D5;
}

.right .question-title{
    line-height: 45px;
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
}
.right ul li:nth-child(even) p{
    padding: 15px 0 15px 40px;
    line-height: 40px;
    color: #9A9A9A;
    display: none;
    border: 1px solid #CDD0D5;
    border-top: none;
    background-color: #FCFCFC;
}