/*
* @Author: tangwm
* @Date:   2017-04-21 15:00:29
* @Last Modified by:   huangxz
* @Last Modified time: 2017-04-27 17:10:54
*/

/* 公共样式 */
#safe img{
    width:100%;
}
#safe i{
    color: #fff;
    font-style: italic;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #349fe7;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
}
#safe dt span{
    color: #349fe7;
    font-size: 18px;
}
#safe dt{
    padding-bottom: 15px;
}
#safe dt b{
    color: #333;
    font-size: 16px;
}
#safe dd{
    color: #666;
    line-height: 28px;
    font-size: 14px;
}
#safe .stress{
    color: #f34f54;
}
















/* box1 */
#safe > .box1{
    padding: 50px 0;
    height: 300px;
}
#safe > .box1 dl{
    background: url(../img/safe2.jpg) no-repeat right;
}

/* box2 */
#safe > .box2{
    background: #fafafa;
}
#safe > .box2 img{
    float:left;
    height: 300px;
    width:300px;
    padding: 20px 30px 20px 10px;
}
#safe > .box2 dl{
    float:right;
    padding: 70px 0 0 20px;
}