/*
* @Author: huangxz
* @Date:   2017-04-27 17:22:13
* @Last Modified by:   huangxz
* @Last Modified time: 2017-04-27 21:41:24
*/

/* 公共样式 */
.VIP  p{
	color: #666;
    font-size: 14px;
    
    padding: 5px;
}
.VIP  h3{
	text-align: left;
    padding: 30px 0 3px 0;
    color: #333;
    font-size: 20px; 
}

/* 第一个盒子 */
.VIP > .box1{
	border-bottom: 1px solid #ccc;
	height: 209px;
}
.VIP > .box1 span{
  margin-right: 20px;
  line-height: 28px;
}
 .VIP > .box1 img{
	float: left;
    padding: 40px ;
    width: 210px;
}


/* 第二个盒子 */
.VIP > .box2 h3{
	text-align: center;
	padding-bottom: 25px;
}
.VIP > .box2 .VIP-2{
	float: left;
    width: 30%;
    text-align: center;
}
.VIP > .box2 .VIP-3{
	margin: 0 32px;
	float: left;
    width: 30%;
    text-align: center;
}

.VIP > .box2 .VIP-4{
	float: left;
    width: 30%;
    text-align: center;
}
.VIP > .box2 ul li img{
	width: 100px;
}

.VIP > .box2 .s-title{
	font-size: 15px;
    padding: 10px 0;
    display: inline-block;
    font-weight: bold;
    color: #333;
}
.VIP > .box2 .content{
    color: #666;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
}

/* 第三个盒子 */
.VIP > .box3 h3{
	text-align: center;
}
.VIP > .box3 table{
	margin-left: 35px;
}
.VIP > .box3 table th{
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #333;
    border: 1px #d8e5ed solid;
    width: 100px;
}
/* 第四个盒子 */


